.App {
  text-align: center;
  background: #eeeeee; /* #616161; */
  /* min-height: 100vh; */
  width: 50%;
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  border-radius: 65px 0px 80px 0px;
  /*_________ x y   blur-radius spread-radius | color */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
